.nav-link {
    margin-left: 10%;
}

.nav-title {
    margin-right: 27%;
}

@media (max-width: 760px) {
    .nav-title {
        margin-right: 0;
    }
}

.nav-text {
    color: rgb(1, 80, 1);
    font-family: cursive;
}
