.resumeContainer {
    background-color: black;
    color: white;
    padding: 5%;
}

.skillLogo {
    width: 100%;
    margin-bottom: 30%;
    border-radius: 45px;
}

@media (max-width: 760px) {
    .skillLogo {
        width: 100%;
    }
}

.listDiv{
    padding: 2%;
    box-shadow: 5px 5px 10px gray;
}

.projectImg {
    width: 100%;
}

.ecaCol {
    padding-left: 10%;
}

.ecaList li {
    list-style-type: square;
}
