.contact-div {
    background-color: #1d222a;
    color: white;
    padding: 5% 10%;
    display: flex;
    flex-direction: row;
}

@media (max-width: 760px) {
    .contact-div {
        flex-direction: column;
        padding-left: 0;
    }

    .contactDivCol {
        margin-bottom: 10%;
        padding: 5% -1340% !important;
    }
}

li {
    list-style-type: none;
    margin-left: -20px;
}

.contactBtn {
    margin-left: 100px;
}
