.icon{
   margin-right: 10px;
}

.infoDiv{
   margin: 4%;
   padding: 4%;
   background-color:rgb(25, 29, 43);
}


@media(max-width: 760px){
   .shortProjectTitle{
      font-size: 30px;
      margin-top: 5%;
   }
   .infoDiv .icon{
      margin-bottom: 15%;
   }
}

.infoDiv .icon{
   margin-top: 15%;
   margin-left: 10%;
}